#proyectodecabecera{
    background-color: skyblue;
}

#glosario{
    background-color: tomato;
    clear: both;
    margin-top: 35px;
}

#avisoslegales{
    background-color: tomato;
    margin-bottom: auto;
}

#contenidoprincipal{
    background-color: rgb(255, 255, 255);
    height: 350px;
}

#a{
    display:inline;
}

#img{
    height: 120px;
}
#h1{
    height: 70px;
}

#time{
    margin-top: auto;
}

#comentario{
    background-color: linen;
    clear: both;
}

#boton{
    background-color: magenta;
}